attrs==16.3.0
Automat==0.5.0
beautifulsoup4==4.6.0
certifi==2017.4.17
cffi==1.9.1
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==1.7.2
cssselect==1.0.1
cycler==0.10.0
enum34==1.1.6
functools32==3.2.3.post2
html2text==2016.9.19
html5lib==0.999999999
idna==2.5
incremental==16.10.1
ipaddress==1.0.18
itsdangerous==0.24
jieba==0.38
lxml==3.7.3
matplotlib==2.0.2
mysql-connector-python==2.1.6
MySQL-python==1.2.4b4
numpy==1.13.1
olefile==0.44
parsel==1.1.0
Pillow==4.1.1
pyasn1==0.2.2
pyasn1-modules==0.0.8
pycparser==2.17
pycurl==7.19.0
PyDispatcher==2.0.5
pymongo==3.4.0
pyOpenSSL==16.2.0
pyparsing==2.2.0
pyquery==1.2.17
python-dateutil==2.6.1
pytz==2017.2
pywin32==220
pywordcloud==0.2.2
queuelib==1.4.2
requests==2.18.1
Scrapy==1.3.3
selenium==3.4.3
service-identity==16.0.0
six==1.10.0
tblib==1.3.2
Twisted==17.1.0
urllib3==1.21.1
vboxapi==1.0
w3lib==1.17.0
webencodings==0.5.1
Werkzeug==0.15.3
xlrd==1.0.0
xlutils==2.0.0
xlwt==1.2.0
zope.interface==4.4.1
